* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainx16 {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
}

#button:hover {
  background-color: rgb(177, 177, 177);
}

#popup {
  border: 1px solid black;
  height: 100px;
  width: 300px;
  margin-bottom: 20px;
  position: relative;
  display: none;
}

#cruz {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  text-align: center;
}

#cruz:hover {
  background-color: rgb(177, 177, 177);
}

.popup_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-popup1,
#btn-popup2,
#btn-popup3 {
  color: black;
  padding: 5px 10px;
  margin: 10px;
}
